<?xml version="1.0"?>
<configuration>

    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="opt.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    <userSettings>
        <opt.UI.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>OPT</value>
            </setting>
            <setting name="ValuesDecimalPlaces" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="RestrictedVariableIdentifiers" serializeAs="String">
                <value>Abs,Acos,Asin,Atan,Ceiling,Cos,Exp,Floor,IEEERemainder,Log,Log10,Max,Min,Pow,Round,Sign,Sin,Sqrt,Tan,Truncate</value>
            </setting>
            <setting name="QuantitiesFileName" serializeAs="String">
                <value>\Models\numpk.txt</value>
            </setting>
            <setting name="ParametersFileName" serializeAs="String">
                <value>\Models\par.opt</value>
            </setting>
            <setting name="ResultsFileName" serializeAs="String">
                <value>\Models\fun.opt</value>
            </setting>
            <setting name="LicenseFileName" serializeAs="String">
                <value>license.xml</value>
            </setting>
            <setting name="UseOldXmlProvider" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseInvariantCulture" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ModelFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="CalcAppFilePath" serializeAs="String">
                <value />
            </setting>
        </opt.UI.Properties.Settings>
    </userSettings>
</configuration>