<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="opt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <opt.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>opt.id</value>
            </setting>
            <setting name="ValuesDecimalPlaces" serializeAs="String">
                <value>3</value>
            </setting>
        </opt.Properties.Settings>
    </userSettings>
</configuration>