<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="opt.Bionic.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <opt.Bionic.Properties.Settings>
            <setting name="MaxGenerations" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="DescendantsNum" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="NeighborhoodSizePercent" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="UseRecordPoint" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyElitism" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="InitialPopulationSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DescendantsRangePercent" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ValuesDecimalPlaces" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SelectionCap" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="CalcAppCommandLineArgsFormat" serializeAs="String">
                <value>-m {0} -w "1. Полесье + КПР-9.xmcd" -q</value>
            </setting>
        </opt.Bionic.Properties.Settings>
    </userSettings>
</configuration>